body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 13px;
    color: #5c5c5c;
    font-family: 'Lato', sans-serif;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

img {
    border: none;
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.aligncenter {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ff6565;
}

a:hover {
    color: #333;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ul li ul,
ul li ul li ul,
ol li ol,
ol li ol li ol {
    margin-left: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #484f5e;
    font-family: 'Lato', sans-serif;
    margin: 25px 0 10px;
    padding: 0;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

.clear {
    clear: both;
}

.alignnone {
    width: 100% !important;
}

img.alignleft,
.alignleft {
    float: left;
    margin: 0 15px 0 0;
    padding: 5px;
    border: 1px solid #cccccc;
}

img.alignright,
.alignright {
    float: right;
    margin: 0 0 0 15px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pagination {
    display: table;
    clear: both;
}

.pagination ul {
    list-style: none;
    margin: 20px 0;
}

.pagination ul li {
    display: inline;
    float: left;
    margin-right: 5px;
}

.pagination ul li span,
.pagination ul li a {
    background: #646262;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}

.pagination ul li .current,
.pagination ul li a:hover {
    background: #34c6f6;
}

#comment-nav-above .nav-previous,
#comment-nav-below .nav-previous {
    float: none !important;
    margin: 10px 0;
}

ol.comment-list li {
    list-style: none;
    margin-bottom: 5px;
}

.logo {
    float: left;
    z-index: 999;
    padding: 10px 0;
    color: #111;
}

.logo h1 {
    font-weight: 400;
    margin: 0;
    line-height: 36px;
    color: #111;
}

.logo a {
    color: #111;
}

.logo span {
    color: #111;
    display: block;
}

.container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#pageholder {
    width: 100%;
    margin: 0 auto;
}

/*header menu css*/
.toggle {
    display: block;
}

.toggle a {
    width: 100%;
    color: #ffffff;
    background: url(https://i.ibb.co/r7gsv4R/mobile-nav-right.webp.co/4mcdJPn) no-repeat right center #3e3e3e;
    padding: 10px 10px;
    margin-top: 5px;
    font-size: 18px;
    /* display: none; */
}

.toggle a:hover {
    color: #ffffff !important;
}

.header {
    width: 100%;
    z-index: 999;
    top: auto;
    box-shadow: 0 1px 3px #ddd;
}

.sitenav {
    padding: 0;
    /* text-align:right; float:left;*/
}

.sitenav ul {
    /* float:right;*/
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.sitenav ul li {
    display: inline-block;
    margin: 0;
    position: relative;
    text-align: center;
}

.sitenav ul li a {
    padding: 15px 18px;
    display: block;
    color: #fff;
}

.sitenav ul li ul li {
    display: block;
    position: relative;
    float: none;
}

.sitenav ul li ul li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.sitenav ul li ul li a:hover,
.sitenav ul li ul.sub-menu li.current_page_item a {
    border-radius: 0;
}

.sitenav ul li a:hover,
.sitenav ul li.current_page_item a,
.sitenav ul li.current-menu-ancestor a.parent {
    background-color: #C94C0A;
    color: #fff;
}

.sitenav ul li ul {
    display: none;
    z-index: 9999;
    position: relative;
}

.sitenav ul li:hover>ul {
    display: block;
    width: 200px;
    position: absolute;
    left: 0;
    text-align: left;
    background-color: #C94C0A;
    box-shadow: 0 2px 2px #000;
}

.sitenav ul li:hover ul li ul {
    display: none;
    position: relative;
}

.sitenav ul li:hover ul li:hover>ul {
    display: block;
    position: absolute;
    left: 200px;
    top: 1px;
}

section#home_slider {
    padding: 0;
}

#FrontBlogPost,
#wrapfirst,
#wrapsecond {
    padding: 50px 0;
}

h2.section-title {
    color: #454545;
    font: 300 36px/40px 'Montserrat', san-serif;
    text-align: center;
}

.welcomecontent {
    width: 50%;
    float: left;
    text-align: right;
    margin: 0 25px 0 0;
}

.welcomethumb {
    width: 45%;
    float: right;
    text-align: left;
}

.UnderLine {
    width: 50%;
    position: relative;
    display: inline-block;
    clear: both;
    margin: 10px auto 30px;
    border-top: 1px solid #E1E1E1;
}

.hr-inner {
    position: absolute;
    margin-top: -1px;
    top: 50%;
    height: 1px;
    width: 100%;
}

.hr-style {
    background-color: #FCFCFC;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 9px;
    left: auto;
    right: 0;
    margin-left: -5px;
    margin-top: -5px;
    position: absolute;
    width: 9px;
}

#sidebar .search-form input.search-field {
    background-color: #f0efef;
    width: 80%;
    padding: 12px 15px 12px 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#sidebar .search-form input.search-submit {
    background: url(https://stxaviersdhenkanal.org/#:~:text=St.%20Xavier%E2%80%99s%20High%20School%20is%20a/images/search-icon.png) no-repeat center center #C94C0A;
    padding: 10px 0 10px 0;
    font-size: 0;
    width: 20%;
    height: 42px;
    float: right;
    border: 0;
}

/* = section first css
-------------------------------------------------------------- */
.fourbox {
    background-color: #f6f4f4;
    color: #2e2e2e;
    width: 30%;
    float: left;
    margin: 0 5% 0 0;
    text-align: center;
    position: relative;
    min-height: 280px;
    box-sizing: border-box;
}

.fourbox p {
    line-height: 20px;
    margin-bottom: 20px;
}

.fourbox h3 {
    font-size: 16px;
    font-weight: 400;
    color: #343434;
    margin: 0 0 15px;
}

.fourbox h3 a {
    color: #343434;
}

.fourbox:hover h3 {
    color: #31cafd;
}

.fourbox .thumbbx {
    height: 220px;
    overflow: hidden;
    margin: 0 auto;
}

.fourbox .pagecontent {
    padding: 20px;
}

.fourbox .thumbbx img {
    width: 100%;
    height: auto;
}

/* = Services section css
-------------------------------------------------------------- */
#Appwrap {
    background-color: #f6f4f4;
    color: #5c5c5c;
    padding: 50px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) inset;
    text-align: center;
}

#Appwrap h3 {
    color: #5c5c5c;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

#Appwrap p {
    color: #5c5c5c;
    margin-bottom: 35px;
}

.appbutton {
    padding: 15px 25px !important;
    text-transform: uppercase;
}

.appbutton:hover {
    background-color: #C94C0A;
}

.last_column {
    clear: right;
    margin-right: 0 !important;
}



.ReadMore {
    background-color: #ff6565;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
}

.ReadMore:hover {
    background-color: #34c6f6;
    color: #fff;
}

.welcomewrap p {
    margin-bottom: 30px;
}

.welcomewrap h2 {
    margin-bottom: 20px;
    font-size: 38px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
}

/* = Page lay out css
-------------------------------------------------------------- */
.site-main {
    width: 740px;
    margin: 0;
    padding: 0;
    float: left;
}

.fullwidth {
    width: 100% !important;
    float: none !important;
}

.fullwidth p {
    margin-bottom: 15px;
}


.page_content p {
    margin-top: 25px;
    font-size: 15px;
    line-height: 24px;
    color: #6E6D6D;
}

.blog_lists {
    margin-bottom: 30px;
    padding: 25px 0;
}

.blog_lists h3 {
    margin-bottom: 0px;
}

.blog_lists h3 a {
    color: #484f5e;
}

.blog_lists h3 a:hover {
    color: #C94C0A;
}

.blog_lists p {
    margin-bottom: 10px;
}

.blog-meta {
    font-style: italic;
    margin-bottom: 8px;
}

.post-date,
.post-comment,
.post-categories {
    display: inline;
    color: #333;
}

.single_title {
    margin-bottom: 5px;
}

.BlogPosts {
    width: 31.2%;
    float: left;
    margin: 0 3% 0 0;
}

.BlogPosts img {
    width: 100%;
}

.BlogPosts h2 {
    margin: 10px 0;
    font-size: 22px;
}

.post-thumb {
    width: 30%;
    float: left;
    margin: 5px 25px 5px 0;
}

.post-thumb img {
    width: 100%;
}

/* = sidebar
-------------------------------------------------------------- */
#sidebar {
    width: 330px;
    float: right;
    padding-top: 52px;
}

aside.widget {
    margin-bottom: 30px;
    background-color: #f6f4f4;
    padding: 20px;
    border: 1px solid #edecec;
}

aside.widget ul {
    list-style: disc;
}

h3.widget-title {
    background-color: #ff6565;
    padding: 12px 15px;
    margin: -20px -20px 10px;
    color: #fff;
    font-size: 20px
}

h3.widget-title a {
    color: #fff;
}

#sidebar ul li {
    list-style: none;
    padding: 5px 0;
}

#sidebar ul li a {
    background: url(https://stxaviersdhenkanal.org/#:~:text=St.%20Xavier%E2%80%99s%20High%20School%20is%20a/images/sidebar-arrow.png) no-repeat 0 14px;
    padding: 10px 0 10px 20px;
    color: #6E6D6D;
    font-size: 15px;
    line-height: 24px;
}

#sidebar ul li a:hover {
    color: #34c6f6;
}

#sidebar ul li:last-child a {
    border: none;
}



/* = Footer css
-------------------------------------------------------------- */
#footer-wrapper {
    background-color: #201d1b;
    position: relative;
    color: #fff;
}

.cols-4 {
    width: 32%;
    float: left;
    margin: 0 2% 2% 0;
    padding: 40px 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.widget-column-4 {
    margin-right: 0px !important;
}

.cols-4 h5 {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    border-bottom: 1px solid #2b2b2b;
    padding-bottom: 15px;
}

.cols-4 ul {
    margin: 0;
    padding: 0;
    list-style: inside disc;
}

.cols-4 ul li {
    padding: 0;
    color: #fff;
    padding: 3px 0;
    border-bottom: 1px solid #2b2b2b;
}

.cols-4 ul li:last-child {
    border: none;
}

.cols-4 ul li a {
    color: #fff;
    font-size: 13px;
}

.cols-4 ul li a:hover,
.cols-4 ul li.current_page_item a {
    color: #ff6565;
}

.cols-4 p {
    margin-bottom: 0;
}


.copyright-wrapper {
    background-color: #2c2c2c;
    position: relative;
    padding: 15px 0;
}

.powerby {
    text-align: center;
}

.powerby a {
    color: #fff;
}

.powerby a:hover {
    color: #fff;
}

/* Buttons */
.button {
    background-color: #ff6565;
    border-bottom: 4px solid #ff6565;
    color: #fff;
    padding: 8px 5px;
    display: inline-block;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    float: right;
    margin: 45px 5px;
    border-radius: 6px;
    transition: 0.2s;
}

.button:hover {
    background-color: #34c6f6;
    border-bottom: 4px solid #34c6f6;
    color: #fff;
    text-decoration: underline;
}

.button.blue {
    border-bottom: 4px solid #34c6f6;
    background-color: #34c6f6;
}

.button.blue:hover {
    background-color: #ff6565;
    border-bottom: 4px solid #ff6565;
}

.button a {
    font-size: 15px;
    color: #fff;
    padding: 0 12px;
}

/* woocommerce CSS
================================================*/
a.added_to_cart {
    background: #e1472f;
    padding: 5px;
    display: inline-block;
    color: #fff;
    line-height: 1;
}

a.added_to_cart:hover {
    background: #000000;
}

a.button.added:before {
    content: '' !important;
}

#bbpress-forums ul li {
    padding: 0;
}

#subscription-toggle a.subscription-toggle {
    padding: 5px 10px;
    display: inline-block;
    color: #e1472f;
    margin-top: 4px;
}

textarea.wp-editor-area {
    border: 1px #ccc solid;
}

.woocommerce input[type=text],
.woocommerce textarea {
    border: 1px #ccc solid;
    padding: 4px;
}

form.woocommerce-ordering select {
    padding: 5px;
    color: #777777;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
    font-family: 'Montserrat', san-serif;
    color: #ff8a00;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    color: inherit !important;
}

h1.product_title,
p.price {
    margin-bottom: 10px;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
    font-family: 'Montserrat', san-serif;
    color: #ff6d84;
}

.woocommerce ul.products li,
#payment ul.payment_methods li {
    list-style: none !important;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    color: inherit !important;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
    border-bottom: 0px !important
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* ============= Contact Page =========== */
.wpcf7 {
    margin: 30px 0 0;
    padding: 0;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"] {
    width: 80%;
    border: 1px solid #cccccc;
    height: 35px;
    padding: 0 15px;
    color: #797979;
    margin-bottom: 0;
}

.wpcf7 textarea {
    width: 86%;
    border: 1px solid #cccccc;
    height: 150px;
    color: #797979;
    margin-bottom: 25px;
    font: 12px arial;
    padding: 10px;
    padding-right: 0;
}

.wpcf7 input[type="submit"] {
    background-color: #ff6565;
    width: auto;
    border: none;
    cursor: pointer;
    font: 18px 'Montserrat', san-serif;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 3px;
}

/* ============= Comment Form ============ */
h1.screen-reader-text {
    font: 22px 'Montserrat', san-serif;
}

.site-nav-previous,
.nav-previous {
    float: left;
}

.site-nav-next,
.nav-next {
    float: right;
}

h3#reply-title {
    font: 300 18px 'Montserrat', san-serif;
}

#comments {
    margin: 30px 0 0;
    padding: 0;
}

nav#nav-below {
    margin-top: 15px;
}

body.wp-custom-logo .logo h1 {
    display: none;
}

#sidebar select {
    width: 100%;
    height: 30px;
}

.textwidget select {
    width: 100%;
    height: 30px;
}

table {
    width: 100%
}

.main-menu {
    background: #ff6565;
}

.sitenav ul li.current_page_item a,
.sitenav ul li a:hover {
    background-color: #ff6565 !important;
}

.top-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}

.top-header .phone,
.top-header .mail {
    padding-right: 15px;
    float: left;
    padding-top: 4px;
}

.social-icons {
    float: right;
}

.social-icons a img {
    width: 24px;
    margin: 0 2px;
}

.text-white,
.text-white h3 {
    color: #fff;
    font-family: Montserrat !important;
    text-align: center;
}

.vc_icon_element {
    margin-bottom: 10px !important;
}

.text-white h3 {
    font-size: 22px;
}

.wpcp-slide-image img {
    border-radius: 50%;
    width: 162px;
    height: 162px;
}

header.entry-header {
    display: none;
}

.contactdetail p {
    margin-bottom: 10px;
}

.contactdetail {
    line-height: 22px;
}

#footer-wrapper .social-icons {
    margin-top: 20px;
    float: none;
}

#footer-wrapper .social-icons a {
    color: #c1c0c0;
    border-color: #c1c0c0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px 5px 0;
    padding: 0;
    color: #c1c0c0;
    border: 2px solid #c1c0c0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkt-border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.page_content p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 24px;
}

.page-ul ul li {
    font-size: 15px;
    line-height: 24px;
    list-style: none;
}

img.aigpl-img {
    border: 1px solid #ccc !important;
    padding: 10px !important;
}

.contactdetail i {
    padding-right: 12px;
}

.aigpl-album-design-1 .aigpl-img-title {
    font-size: 16px !important;
}

table.ntcTbl thead td {
    background-color: #00aeef;
    padding: 5px 10px;
    color: #fff;
    font-weight: 700;
}

.text-white p {
    color: #fff;
}

.simplefilter li:hover {
    color: #FFFFFF !important;
    border: 1px solid #C94C0A;
}

span.style2 {
    font-size: 15px;
    padding-right: 15px;
}

section.rightCont a {
    font-size: 15px;
    text-decoration: underline;
}

.sidebar-gallery img {
    width: 46%;
    padding: 5px;
}

.sidebar-gallery {
    overflow: auto;
}

.admission {
    margin: 20px 0;
}

.admission label {
    width: 50%;
    float: left;
}

.admission-enquiry {
    border: 1px solid #ccc;
    margin-top: 52px;
    padding: 0 30px;
}

input[type="date"] {
    width: 80%;
    border: 1px solid #cccccc;
    height: 35px;
    padding: 0 15px;
    color: #797979;
    margin-bottom: 0;
}

select {
    width: 90%;
    border: 1px solid #cccccc;
    height: 35px;
    padding: 0 15px;
    color: #797979;
    margin-bottom: 0;
}

.nivo-caption {
    display: none !important;
}

i.fa {
    font-size: 15px !important;
    color: #181862;
    padding-right: 2px;
}

i.fa.fa-phone {
    font-size: 18px !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a {
    border-color: #f0f0f0;
    background-color: #C94C0A !important;
    color: #fff !important;
}

li.vc_tta-tab a {
    padding: 10px 20px !important;
    margin-bottom: 20px;
}

.current-menu-ancestor a {
    background: #34c6f6 !important;
}

@media screen and (max-width: 420px) {
    .social-icons {
        display: none;
    }

    .top-header .phone {
        padding-left: 18px;
    }

    .button.red {
        margin: 0 0 0 10% !important;
    }

    .button.red,
    .button.blue {
        float: none;
        margin: 20px 10px;
        padding: 5px 5px;
    }

    .main-menu {
        background: #fff;
    }

    .sitenav ul li {
        background: #ff6565;
    }

    .sitenav ul li a {
        color: #fff !important;
    }

    .sitenav ul li a:before {
        display: none !important;
    }

    ul#menu-main-menu {
        margin-bottom: 20px;
    }

    #footer-wrapper aside {
        margin-bottom: 0;
    }

    #footer-wrapper i.fa {
        color: #fff;
        padding-right: 8px;
    }

    #home_slider {
        margin-top: 25px;
    }

    .button a {
        font-size: 14px;
        color: #fff;
        padding: 0 4px;
    }

    .top-header .phone,
    .top-header .mail {
        text-align: center;
        float: none;
        font-size: 15px;
    }
}

@media screen and (max-width: 321px) {
    .button a {
        font-size: 14px;
        color: #fff;
        padding: 0 4px;
    }

    .top-header .phone,
    .top-header .mail {
        text-align: center;
        float: none;
        font-size: 15px;
    }

    .button.red {
        margin: 0 0 0 7% !important;
    }
}

@media screen and (max-width: 768px) {

    .button.red,
    .button.blue {
        float: none;
    }

    .button.red {
        margin: 0 0 0 20%;
    }
}

#footer-wrapper i.fa {
    color: #fff;
    padding-right: 10px;
}